html(ng-app="surveyApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Survey Admin
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/admin.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    script(src='js/lib/angular/angular.js')
  body(ng-controller="NavCtrl", ng-cloak)
  
    nav
        div.container-fluid
            div.col-xs-3.col-xs-offset-9.col-md-1.col-md-offset-11
                    div.text-center 
                        button.logout(ng-click="navigate('logout')") Logout
            div.navbar-header.col-xs-12
                div.text-center.title-text {{pageTitle}}
            ul.navbar-nav
                li(ng-repeat="page in pages")
                        button.nav-button(ng-click="navigate(page.url)", ng-class="{active: navClass(page)}") {{page.title}}
                
    block body
    
    