extends layout

block body

  div.container-fluid(ng-controller='ManageSurveysCtrl', ng-cloak)
        div.row.admin-table
            div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
                div(ng-show="questions")
                    table.borderless
                        thead  
                            tr
                                td(colspan="3")
                                    button.expand-all(ng-click="toggleAll()") {{toggleText}}
                            tr
                                td
                                   a(href="admin/manageSurveys", ng-click="deleteQuestions()") Delete
                                td Question
                                td Edit
                        tbody(ng-repeat="question in questions")
                            tr.questionRow(ng-class="{expandedQuestion: question.expanded, editingQuestion: question.edit}")
                                td 
                                    input(type="checkbox", ng-model="question.checked")
                                td.question(ng-click="toggleRow(question)") 
                                    div(ng-show="!question.edit")
                                        {{question.question_body}} 
                                    textarea.matchParent(ng-show="question.edit", ng-model="question.question_body", placeholder="Hershey's or Milkyway?")
                                td
                                    button.edit(type="button", ng-click="toggleEdit(question)")
                            tr(ng-show="question.expanded") 
                                td
                                td(colspan="2")
                                    div(ng-repeat="answer in question.answers")
                                        {{answer.answer_body}}
                            tr(ng-show="question.edit") 
                                td
                                td(colspan="2")
                                    div(ng-repeat="answer in question.answers")
                                        input(type="text", ng-model="answer.answer_body", placeholder="Hershey's")
                                        button.delete(type="button", ng-click="deleteAnswer($index, question.answers)", ng-disabled="question.answers.length == 1")
                                    button.add-answer(type="button", ng-click="addAnswer(question.answers)") Add Answer
                div(ng-show="!questions")
                    div.no-questions
                        {{noQuestionText}}
        div.row.update-survey
            div.col-xs-12.all-centered
                button.add-question(type="button", ng-click="addQuestion()") Add Question
                button.save(ng-click="save()") Save

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/angular/angular-route.js')