html(ng-app="surveyApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Survey
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/survey.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    script(src='js/lib/angular/angular.js')
  body
  
    block body