.logout {
    font-size: 0.8em;
}

textarea {
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}

button.add-answer {
    margin: 5px;
    background-color: #BCD7D9;
    padding: 3px 20px;
    box-shadow: 1px 1px 1px #979797;
}

thead tr td{
    font-weight: bold;
    padding: 10px;
}

tr {
    padding: 5px;
}

td {
    padding: 20px;
}

td.question {
    width: 100%;
    padding: 5px;
}

table.responses {
    margin: auto;
}

table.responses tr td {
    text-align: left;
}

tr.questionRow:hover, .expandedQuestion, .editingQuestion {
    background-color: #BDD7D9;
}

.formInput {
    display: block;
}

input.edit-answer {
    border: 1px solid #CCCCCC;
    margin: 5px;
    border-radius: 3px;
    font-size: .8em;
    border-width: thin;
}

.nav-button, .nav-button:focus, .logout, .logout:focus {
    background-color: transparent;
    color: white;
    border-style: none;
    outline: 0;     
    outline-style:none;     
    outline-width:0;
}

textarea.matchParent {
    width: 100%;
    height: auto;
}

.borderless {
    border-collapse: none;
    width: 100%;
    font-size: 0.8em;
}

.borderless td, .borderless th {
    border: none;
    padding: 8px;
    vertical-align: top;
}

.admin-table {
    margin: 50px;
}

button.expand-all {
    float: right;
    box-shadow: 1px 1px 1px #979797;
}

button.delete:disabled {
    opacity: 0.4;
}

button.add-question, button.save {
    margin: 10px;
    box-shadow: 1px 1px 1px #979797;
}

.active {
    opacity: 0.7;
}

ul.navbar-nav li {
    display: inline-block;
    font-size: 0.7em;       
}

@media screen and (max-width: 519px) {
    ul.navbar-nav li {
        margin: 0 10px 5px 0px;  
    }
}

@media screen and (min-width: 520px) {
    ul.navbar-nav li {
/*        font-size: 18px;*/
        margin: 0 30px 5px 0px;  
    }
}

ul.navbar-nav li a {
    text-decoration: none;   
    color: white;
}

ul.navbar-nav li a:hover { 
    opacity: 0.7;
}