.question {
    line-height: 100px;
    font-size: 24px;
}

.answers {
    text-align: left;
    width: auto; 
    margin-left: auto; 
    margin-right: auto;
        line-height: 50px;
    font-size: 18px;
    font-weight: normal;
}

.survey-block {
    width: 40%;
    margin: auto;
}

label {
    display: block;
}

div.answers {
    margin-bottom: 20px;
}

span.answer-text {
    padding: 20px;
}

.form-input {
    margin: 25px;
}

.centered-element {
    text-align: center;
    vertical-align: middle;
}

button.submit {
    background-color: cadetblue;
    color: white;
    border-style: none;
    height: 30px;
    margin: auto;
    font-size: 14px;
    line-height: 30px;

}

button.skip {
    background-color: indianred;
    color: white;
    border-style: none;
    width:10%;
    
}

.title-text {
    line-height: 75px;
}