.question {
    line-height: 100px;
}

.answers {
    text-align: left;
    width: auto; 
    margin-left: auto; 
    margin-right: auto;
    line-height: 50px;
    font-weight: normal;
}

label {
    display: block;
}

div.answers {
    margin-bottom: 20px;
}

.form-input {
    margin: 25px;
    font-size: 0.9em;
}

.centered-element {
    text-align: center;
    vertical-align: middle;
}

button.submit {
    background-color: cadetblue;
    color: white;
    line-height: 1.5em;
    font-size: 1em;
}

.progress-indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 20px;
}

div.progress {
    padding: 0;
}

div.progress-bar {
    background-color: cadetblue;
}

.progress-text {
    font-size: .7em;
}